<% if (test === 1) { %>
	<%- include extend/header %>
<% } if (test === 2) { %>
	<%- include extend/myHeader %>
<% } else if (test === 3) { %>
	<%- include extend/sb_header %>
<% } %>
	<% if(finalList === null){ %>
		這是首頁,找不到資料
	<% }else{ %>
		<!-- Select Date -->
		<div class="col-md-3">
			<label>選擇日期</label>
			<input type="text" id="date" name="date" size="10" readonly>
			<input type="button" value="..." id="BTN" name="BTN">
		</div>

		<!-- Select Range -->
		<div class="col-md-9">
			<label>查詢範圍</label>
			<select "selected_time" id="option" name="option">
				<option value="0" selected>一天</option>
				<option value="1">一周</option>
				<option value="2">一月</option>
			</select>
		</div> <!-- col-md-3 -->
		<br>
		<hr>

		<% var keys = Object.keys(finalList); %>
		<div class="col-md-12">
			<table id="table1"  class="display" cellspacing="0" width="100%">
		<thead>
			<tr style="color:#428bca">
			<th>項目</th>
			<th>裝置識別編號</th>
			<th>日期</th>
			<th>溫度</th>
			<th>濕度</th>
			<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0;i<keys.length ;i++){ %>
				<tr>
					<td><%= i+1%></td>
					<td><%= finalList[keys[i]].macAddr%></td>
					<td><%= finalList[keys[i]].date%></td>
					<td><%= finalList[keys[i]].information.temperature%></td>
					<td><%= finalList[keys[i]].information.humidity%></td>
					<td>
					<% if(finalList[keys[i]].overtimr){ %>
						<img src="/icons/connection_fail.png" width="ˇ30" height="30" name="status">
					<% }else{ %>
						<img src="/icons/connection_ok.png" width="30" height="30" name="status">
					<% } %>
					</td>
				</tr>
			<% } %>
		</tbody>
	</table>
		</div>

		

	<% } %>

<% if(test === 1){ %>
	<%- include extend/footer %>
<% } if (test === 2) { %>
	<%- include extend/myFooter %>
<% } else if (test === 3){ %>
	<%- include extend/sb_footer %>
<% } %>